apiVersion: v1
kind: Secret
metadata:
  name: checkpoint-storage-credentials
  namespace: checkpoint-dev
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: minioadmin
  AWS_SECRET_ACCESS_KEY: change-me
  AWS_ENDPOINT_URL: http://minio.checkpoint-dev.svc.cluster.local:9000
  AWS_REGION: us-east-1
  AWS_S3_FORCE_PATH_STYLE: "true"
  CHECKPOINT_BUCKET: rtj-checkpoints
